.service {
  background-color: rgb(226, 241, 241);
  border-radius: 10px;
  overflow: hidden;
}

.service__content {
  padding: 20px;
}

.service__content h3,
.service__content h5 {
  text-align: center;
}
